.ui-inputsearch, .ui-inputsearch-seach {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: initial;
	align-items: initial;
	-webkit-justify-content: initial;
	justify-content: initial;
}

.ui-inputsearch {
	
}

.ui-inputsearch-input {
	margin-right: 5px ;
}

.ui-inputsearch-input {
	width: 20%;
}

.ui-inputsearch-seach {
	width: 80%;
}

.ui-inputsearch-seach-desc {
	width: 100%;
}

.ui-inputsearch-seach-icon {
	background-image:
		url("#{resource['/utilfaces/core/images/search.png']}");
	background-repeat: no-repeat;
	width: 25px;
	height: 100%;
	cursor: pointer;
}